
# data & resources
outputs/
assets/
temp/
demo/
tests/
dataflow_data/
# setup
data_juicer.egg-info/
py_data_juicer.egg-info/
py_data_flow.egg-info/
build/
dist
.venv
.env
.codesouler

# others
.DS_Store
.idea/
wandb/
__pycache__
.vscode/
data_server/.nat
*.nat
temp_format/
temp_pipline/
datasource/json/**
datasource/csg_hub_server/**
datasource/parquet/**